body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* navigation */

.navbar {
    background-color: #E6E9EC;
}

.navbar-toggler {
    color: #353E45;
}

#logo {
    max-width: 100%;
    height: auto;
}

#logo-container {
    width: 10rem;
}

.navbar-nav {
    margin-right: 2%;
}

.nav-item li {
    color: #353E45;
}

/* headings */

h1 {
    padding: 3% 1%;
}


/* banner */

.banner {
    height: 20rlh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.banner h1 {
    text-align: center;
    color: #ffffff;
    font-size: 350%;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.9);
}

.banner h2 {
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 180%;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.9);
}

.home-banner {
    background-image: url('../images/home_banner.JPG');
}

.academy-banner {
    background-image: url('../images/academy_banner.jpg');
}

.hostel-banner {
    background-image: url('../images/rooms_banner.jpg');
}

.hostel-banner h1 {
    color: #BF8D27;
}



/* Cards */

.section {
    margin: 5% auto;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    margin: 2% 2%;
    padding: 1%;
}

.card-img-top-container {
    max-height: 7rlh;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-body-item {
    padding: 5% auto;
}

.btn-custom {
    background-color: #223116;
    color: #E6E9EC;
}

/* carousel */

.carousel-classes {
    border: 1px solid #353E45;
    margin-bottom: 2%;
}

.carousel-item-classes {
    max-width: 100%;
    height: 30rlh;
}

.carousel-flex {
    height: 100%;
    align-items: center;
}

.carousel-flex-text {
    display: flex;
    width: 35%;
    justify-content: flex-end;
}

.classes {
    width: 65%;
    text-align: center;
}

.carousel-flex-img {
    background-size: cover;
    background-position: center;
    width: 65%;
    height: 30rlh;
    vertical-align: middle;
}

#capoeira-class {
    background-image: url('../images/classes_1.JPG');
}

#yoga-class {
    background-image: url('../images/classes_2.JPG');
    background-position: bottom;
}

#surf-class {
    background-image: url('../images/classes_3.jpg');
}

/* room detail with form */

.back-button {
    padding-top: 2%;
}

.room {
    width: 80%;
    height: 100%;
    margin: 3% auto;
}

.room-detail-booking {
    width: 50%;
    text-align: center;
}

#booking-img {
    width: 50%;
}

#booking-img img {
    width: 100%;
}

/* room list */

.room-overview {
    margin: 1%;
}

.carousel2 {
    max-width: 450px;
}

.room-detail-text {
    max-width: 450px;
    text-align: justify;
}

.room-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* booking list */

.headings {
    text-align: center;
}

.bookings{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.booking{
    max-width:20vw;
    min-width: 20rem;
    text-align: center;
    border: 1px solid #dbdbdb;
    padding:1rem;
    border-radius: 0.75rem;
    margin:1rem;
}

img{
    max-width: 100%;
    margin-bottom: 2rem;
}

.cancel {
    padding-top: 5%;
}

.cancel a:hover {
    color: rgb(206, 43, 43);
    border: 2px solid red;
}

.btn-cancel-confirm {
    color: rgb(206, 43, 43);
    border: 2px solid red;
}

.btn-cancel {
    border: 2px solid #BF8D27;
}


/* footer */

footer {
    width: 100%;
    background-color: #E6E9EC;
    margin-top: auto;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #353E45;
}

.footer-items {
    text-align: center;
    padding: 2% 1%;
}

.footer li {
    display: inline;
}

.footer ul {
    max-height: 80%;
    padding: 1% 0;
}


.footer i {
    font-size: 160%;
    color: #353E45;
}


/* media queries */

@media screen and (max-width: 768px) {
    .footer-flex {
        flex-direction: column;
    }

    .classes {
        width: 100%;
    }  
    
    .carousel-flex-text {
        width: 100%;
        justify-content: center;
    }  
}

