body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* navigation */

.navbar {
    background-color: #E6E9EC;
}

.navbar-toggler {
    color: #353E45;
}

#logo {
    max-width: 100%;
    height: auto;
}

#logo-container {
    width: 10rem;
}

.navbar-nav {
    margin-right: 2%;
}

.nav-item li {
    color: #353E45;
}

/* headings */

h1 {
    padding: 3% 1%;
}


/* banner */

.banner img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.banner {
    text-align: center;
    height: 40vw;
    overflow: hidden;
}

.banner h1 {
    text-align: center;
    color: #223116;
    font-size: 360%;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

.banner h2 {
    text-align: center;
    color: #223116;
    font-weight: 700;
    font-size: 180%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

/* Cards */

.section {
    margin: 5% auto;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    margin: 2% 2%;
    padding: 1%;
}

.card-img-top-container {
    max-height: 7rlh;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-body-item {
    margin: 5% auto;
}

.btn-custom {
    background-color: #223116;
    color: #E6E9EC;
}

/* carousel */

.carousel {
    width: 70%;
}

.carousel-classes {
    margin: 3% auto;
}

.classes-academy {
    background-color: rgba(255, 255, 255, 0.6);
}

/* room detail with form */

.back-button {
    padding-top: 2%;
}

.room {
    width: 80%;
    height: 100%;
    margin: 3% auto;
}

.room-detail-booking {
    width: 50%;
    text-align: center;
}

#booking-img {
    width: 50%;
}

#booking-img img {
    width: 100%;
}

/* room list */

.room-overview {
    margin: 1%;
}

.room-detail-text {
    max-width: 450px;
    text-align: justify;
}

.room-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* booking list */

.headings {
    text-align: center;
}

.bookings{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.booking{
    max-width:20vw;
    min-width: 20rem;
    text-align: center;
    border: 1px solid #dbdbdb;
    padding:1rem;
    border-radius: 0.75rem;
    margin:1rem;
}

img{
    max-width: 100%;
    margin-bottom: 2rem;
}

.cancel {
    padding-top: 5%;
}

.cancel a:hover {
    color: rgb(206, 43, 43);
    border: 2px solid red;
}

.btn-cancel-confirm {
    color: rgb(206, 43, 43);
    border: 2px solid red;
}

.btn-cancel {
    border: 2px solid #BF8D27;
}

.btn-update {
    border: 2px solid #001F54;
    margin-top: 2%;
}


/* footer */

footer {
    width: 100%;
    background-color: #E6E9EC;
    margin-top: auto;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #353E45;
}

.footer-items {
    text-align: center;
    padding: 2% 1%;
}

.footer li {
    display: inline;
}

.footer ul {
    max-height: 80%;
    padding: 1% 0;
}


.footer i {
    font-size: 160%;
    color: #353E45;
}


/* media queries */

@media screen and (max-width: 768px) {
    .footer-flex {
        flex-direction: column;
    }

@media screen and (max-width: 480px) {
    .banner {
        height: 30vh;
    }
}

@media screen and (max-width: 540px) {
    .carousel-caption {
        font-size: 50%;
    }

    .carousel {
        width: 100%;
    }

}