/* navigation */

.navbar {
    background-color: #E6E9EC;
}

.navbar-toggler {
    color: #353E45;
}

#logo {
    max-width: 100%;
}

#logo-container {
    width: 10rem;
    margin-left: 1%;
}

.navbar-nav {
    margin-right: 1%;
}

.nav-item li {
    color: #353E45;
}

/* banner */

.banner {
    height: 20rlh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.banner h1 {
    text-align: center;
    color: #ffffff;
    font-size: 350%;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

.banner h2 {
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 180%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

.home-banner {
    background-image: url('../images/home_banner.JPG');
}

.academy-banner {
    background-image: url('../images/academy_banner.jpg');
}


/* Cards */

.section {
    margin: 5% auto;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    margin: 0% 2%;
    padding: 1%;
}

.card-img-top-container {
    max-height: 7rlh;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.btn-custom {
    background-color: #223116;
    color: #E6E9EC;
}

/* carousel */

.carousel-item {
    max-width: 100%;
    max-height: 30rlh;
}

.carousel-flex {
    display: flex;
    flex-direction: row;
}

.carousel-flex-text {
    border: 2px solid red;
    width: 35%;
}

.carousel-flex-text-centered {
    top: 50%;
    text-align: center;
}

.carousel-flex-img {
    width: 65%;
}

/* footer */

.footer {
    height: 150px;
    background-color: #E6E9EC;
}

.footer-flex {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #353E45;
}

.footer-items {
    text-align: center;
}

.footer li {
    display: inline;
}

.footer ul {
    max-height: 80%;
    padding: 1% 0;
}


.footer i {
    font-size: 160%;
    color: #353E45;
}

@media screen and (max-width: 700px) {
    .footer-flex {
        flex-direction: column;
    }
}