{% extends 'hostel/base.html' %}

{% block content %}

<div class="banner academy-banner">
    <h1>Academy</h1>
    <h2>OF THE MEMORIAL DA CAPOEIRA</h2>
</div>

<div>
    <h1>Classes at the Academy</h1>
</div>

<div id="carouselExampleIndicators" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-flex d-flex flex-sm-row">
                <div class="carousel-flex-text">
                    <div class="classes">
                        <h2>Capoeira</h2>
                        <p>Enjoy Capoeira Classes:<br>Mo - Fri<br>17:00 - 19:00</p>
                        <p><strong>where:</strong><br>Av. Solange Nunes do Nascimento<br>Cidade Nova<br>Natal -
                            RN, Brazil</p>
                    </div>
                </div>
                <div class="carousel-flex-img d-none d-md-block" id="capoeira-class"></div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-flex d-flex flex-sm-row">
                <div class="carousel-flex-text">
                    <div class="classes">
                        <h2>Yoga</h2>
                        <p>Enjoy Yoga Classes:<br>Tue, Thu<br>8:00 - 9:30</p>
                        <p><strong>where:</strong><br>Av. Solange Nunes do Nascimento<br>Cidade Nova<br>Natal -
                            RN, Brazil</p>
                    </div>
                </div>
                <div class="carousel-flex-img d-none d-md-block" id="yoga-class"></div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-flex d-flex flex-sm-row">
                <div class="carousel-flex-text">
                    <div class="classes">
                        <h2>Surfing</h2>
                        <p>Enjoy Surfing Classes:<br>by prior arrangement<br>3 or 6-day-Courses</p>
                        <p><strong>where:</strong><br>Praia de Madeiro<br>Pipa<br>RN, Brazil</p>
                    </div>
                </div>
                <div class="carousel-flex-img d-none d-md-block" id="surf-class"></div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

{% endblock %}