{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <title>Memorial da Capoeira</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <!-- Navbar Start-->
    <nav class="navbar navbar-expand-sm navbar-light">
        <div id="logo-container"><a class="navbar-brand" href="{% url 'hostel:home' %}"><img src="{% static 'images/logo.png' %}"
                    alt="Logo of the Memorial da Capoeira" id="logo"></a></div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'hostel:home' %}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'hostel:academy' %}">Academy</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Hostel
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'hostel:room_list' %}">Room Booking</a></li>
                      {% if user.is_authenticated %}
                      <li><a class="dropdown-item" href="{% url 'hostel:booking_list' %}">My Bookings</a></li>
                      {% endif %}
                    </ul>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                </li>
                {% endif %}
                </li>
            </ul>
        </div>
    </nav>
    <!-- Navbar End -->

    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content of the pages -->
        {% endblock %}
    </main>

    <!-- Footer Start -->
    <footer>
        <div class="footer">
            <div class="footer-flex d-flex flex-wrap">
                <div class="footer-items">
                    <h3>Come find<br>us here:</h3>
                </div>
                <div class="footer-items"><i class="fa-regular fa-circle-right"></i></div>
                <div class="footer-items">
                    <span><strong>in real life:</strong><br>Av. Solange Nunes do Nascimento<br>Cidade Nova<br>Natal -
                        RN, Brazil</span>
                </div>
                <div class="footer-items">
                    <span><strong>on social media:</strong></span>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/pages/Mem%C3%B3rial%20Da%20Capoeira/1323161577802917/"
                                target="_blank" rel="noopener" aria-label="Visit us on our Facebook page"><i
                                    class="fa-brands fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/memorialdacapoeira/" target="_blank" rel="noopener"
                                aria-label="Visit us on our Instagram page"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->

    <!-- js and font awesome scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/4cbdfd1d03.js" crossorigin="anonymous"></script>
</body>

</html>