{% extends 'hostel/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<!-- Django messages -->
{% if messages %}
    {% for message in messages %}
    <br>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
{% endif %}

<!-- Back to Rooms List button -->
<div class="d-flex justify-content-center back-button">
    <a href="{% url 'hostel:room_list' %}" class="btn btn-custom"><i class="fas fa-arrow-alt-circle-left"></i> Back to the Rooms</a>
</div>

<!-- Manage Bookings Area -->
<div class="d-flex flex-column">
        <div class="headings">
            <h1>Manage Your Bookings</h1>
            <p><strong>You are currently logged in as {{user}}</strong></p>
        </div>

    <div class="bookings">
        {% for booking in booking_list %}
        <div class="booking">
            {% if "Oiá" in booking.room.name %}
            <img src="{% static 'images/oia_3.JPG' %}" alt="Image of a beach close by related to the Room Oiá">
            {% else %}
            <img src="{% static 'images/ogum_3.JPG' %}" alt="Image of a beach close by related to the Room Ogum">
            {% endif %}

                <h3>{{booking.room.name}}</h3>
                <p>From: {{booking.check_in}}</p>
                <p>To: {{booking.check_out}}</p>
                <p>Beds: {{booking.room.beds}}</p>
                <p>Capacity: {{booking.room.capacity}}</p>
            <div class="cancel"><a href="{{booking.get_cancel_booking_url}}" class="btn btn-cancel">Cancel this Booking</a></div>

        </div>
        {% endfor %}
    </div>

    {% endblock %}