{% extends 'hostel/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div class="d-flex flex-column flex-md-row room align-items-center">
    <div class="d-flex" id="booking-img">
        <img src="{% static 'images/booking_img.jpg' %}" alt="Image of a beach with a sign that says 'seja feliz'">
    </div>
    <div class="ms-3 room-detail-booking">
        <div>
            <form action="" method="POST">
                {% csrf_token %}
                <p><strong>Are you sure you want to cancel this booking?</strong></p>
                <br><p>From: {{booking.check_in}}</p>
                <p>To: {{booking.check_out}}</p>
                <p>Beds: {{booking.room.beds}}</p>
                <p>Capacity: {{booking.room.capacity}}</p><br>
                <button type="Submit" class="btn btn-cancel-confirm">Cancel the Booking</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}