{% extends 'hostel/base.html' %}
{% load static %}
{% block content %}

<!-- Banner -->
<div class="banner">
    <h1>Memorial da Capoeira</h1>
    <h2>come exploring!</h2>
    <img src="{% static 'images/home_banner.jpg' %}" alt="Image of front side of the Memorial da Capoeira">
</div>

<!-- Cards as alternative Nav and Overview -->
<section class="section">
    <div class="card-container d-flex flex-wrap">
        <div class="card" style="width: 18rem;">
            <div class="card-img-top-container"><img class="card-img-top" src="{% static 'images/memorial_card.jpg' %}" alt="Image of the Memorial da Capoeira"></div>
            <div class="card-body">
                <h5 class="card-title">About the Memorial</h5>
                <p class="card-text">Find some more information about the events in the Memorial da Capoeira and the constant change it is making.</p>
                <a href="https://www.instagram.com/memorialdacapoeira/" target="_blank" rel="noopener"
                                aria-label="Visit us on our Instagram page" class="btn btn-custom">Instagram</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-img-top-container"><img class="card-img-top" src="{% static 'images/academy_card.JPG' %}" alt="Image of the Academy within the Memorial da Capoeira"></div>
            <div class="card-body">
                <h5 class="card-title">The Academy</h5>
                <p class="card-text">Find some information about the Academy, when classes of Capoeira take place and info about the Capoeira Shows.</p>
                <a href="{% url 'hostel:academy' %}" class="btn btn-custom">Academy</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-img-top-container"><img class="card-img-top" src="{% static 'images/hostel_card.JPG' %}" alt="Image of the hostel within the Memorial da Capoeira"></div>
            <div class="card-body">
                <h5 class="card-title">The Hostel</h5>
                <p class="card-text">Check out the available rooms and book some nights in the midst of Capoeira history, training and music.</p>
                <a href="{% url 'hostel:room_list' %}" class="btn btn-custom">Hostel</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}