{% extends 'hostel/base.html' %}

{% block content %}

<div class="banner home-banner">
    <h1>Memorial da Capoeira</h1>
    <h2>come exploring!</h2>
</div>
<section class="section">
    <div class="card-container">
        <div class="card" style="width: 18rem;">
            <div class="card-img-top-container"><img class="card-img-top" src="../static/images/memorial_card.jpg" alt="Image of the Memorial da Capoeira"></div>
            <div class="card-body">
                <h5 class="card-title">About the Memorial</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-custom">About</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-img-top-container"><img class="card-img-top" src="../static/images/academy_card.JPG" alt="Image of the Academy within the Memorial da Capoeira"></div>
            <div class="card-body">
                <h5 class="card-title">The Academy</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-custom">Academy</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-img-top-container"><img class="card-img-top" src="../static/images/hostel_card.JPG" alt="Image of the hostel within the Memorial da Capoeira"></div>
            <div class="card-body">
                <h5 class="card-title">The Hostel</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-custom">Hostel</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}