{% extends 'hostel/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div class="d-flex flex-column room-overview">

    <h1>Oiá</h1>
    <div class="d-flex flex-column">
        <div class="d-flex flex-wrap room-images justify-content-around">
            <img src="{% static 'images/oia_1.jpg' %}" alt="Image of Room name Oiá">
            <img src="{% static 'images/oia_2.jpeg' %}" alt="Image of view from the room to the beach-volleyball-field">
            <img src="{% static 'images/oia_3.JPG' %}" alt="Image of a beach close by">
        </div>
        <div class="ms-3 room-detail-text">
            <div class="room-description">
                <p>The room Oiá has a big bed and a beautiful view out to the beach volleyball field of the Memorial da
                    Capoeira. It has a small kitchen and a bathroom.</p>
                <p>Check the availability for your next holiday at the Memorial da Capoeira!</p>
                <a href="#" class="btn btn-custom">Book the room Oiá</a>
            </div>
        </div>
    </div>

    <h1>Ogum</h1>
    <div class="d-flex flex-column">
        <div class="d-flex flex-wrap flex-row room-images justify-content-around">
            <img src="{% static 'images/ogum_1.jpg' %}" alt="Image of Room Ogum">
            <img src="{% static 'images/ogum_2.jpg' %}" alt="Image of a breakfast">
            <img src="{% static 'images/ogum_3.jpg' %}" alt="Image of a beach close by">
        </div>
        <div class="ms-3 room-detail-text">
            <div class="room-description">
                <p>The room Ogum has two separate beds and a private bathroom.</p>
                <p>Check the availability for your next holiday at the Memorial da Capoeira!</p>
                <a href="#" class="btn btn-custom">Book the room Ogum</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}